<!DOCTYPE html>
<html>

<head>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<% include partials/nav.ejs %>
    <h1>contact request successful</h1>
    <p>griff.ieuan@gmail.com</p>

   <p>contact request successful</p>
   <p>you contacted <%= data.who %> in the <%= data.department %> department</p>
   <p>we will contact you at <%= data.email %></p>
</body>

</html>