<!DOCTYPE html>
<html>

<head>
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <% include partials/nav.ejs %>
    <h1>Heading</h1>
    <p>hello</p>
</body>

</html>