<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background: skyblue;
            font-family: sans-serif;
            color: black;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Profile</h1>
    <p>
        Welcome to <%= person %>'s profile
        <strong>Age: </strong>
        <%= data.age %>
        <strong>Job: </strong> <%= data.job %>
    </p>
</body>

</html>