<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background: skyblue;
            font-family: sans-serif;
            color: black;
            text-align: center;
        }
        li{
            font-size: 16px;
            text-align: center;
            list-style: none;
        }
        h2{
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Profile</h1>
    <p>
        Welcome to <%= person %>'s profile
        <strong>Age: </strong>
        <%= data.age %>
        <strong>Job: </strong> <%= data.job %>
    </p>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach(function(item){ %>
            <li><%= item %></li>
        <% }); %>
    </ul>
</body>

</html>