<!DOCTYPE html>
<html>

<head>
    <link href="assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Profile</h1>
    <p>
        Welcome to <%= person %>'s profile
        <strong>Age: </strong>
        <%= data.age %>
        <strong>Job: </strong> <%= data.job %>
    </p>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach(function(item){ %>
            <li><%= item %></li>
        <% }); %>
    </ul>
</body>

</html>